#pnlTool {
    -fx-background-color: #d13a3a;
}

#mainPanel {
    -fx-border-width: 1px;
    -fx-border-color: #d13a3a;
}

#minimize, #close {
    -fx-cursor: hand;
}

#minimize:hover, #close:hover {
    -fx-background-color: #8a1d1d;
}

#title {
    -fx-text-fill: #ffffff;
}

#burger {
    -fx-cursor: hand;
}

#burger > StackPane, #drawer DrawerPanel{
    -fx-background-color: #d13a3a;
}

DrawerPanel JFXButton {
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
    -fx-background-color: transparent !important;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-padding: 10px;
    -fx-min-width: 150px;
}

DrawerPanel JFXButton:hover {
    -fx-text-fill: #7f2d34;
    -fx-background-color: #ffffff !important;
}