#pnlTool {
    -fx-background-color: #1c6c9e;
}

#minimize, #close {
    -fx-cursor: hand;
}

#minimize:hover, #close:hover {
    -fx-background-color: #154769;
}

#title {
    -fx-text-fill: #ffffff;
}

#burger {
    -fx-cursor: hand;
}

#burger > StackPane, #drawer DrawerPanel{
    -fx-background-color: #1c6c9e;
}

DrawerPanel AnchorPane Calendar #header {
    -fx-background-color: #154769 !important;
}

DrawerPanel Calendar #header #year {
    -jfx-focus-color: #15435e !important;
}

DrawerPanel Calendar #header #year .list-view .list-cell{
    -fx-background-color: #1e5d84 !important;
}

DrawerPanel Calendar #header #year .list-view .list-cell:hover {
    -fx-background-color: #1c6c9e !important;
}

DrawerPanel Calendar #header #year .list-view .scroll-bar:vertical .track{
    -fx-background-color: #15435e !important;
}

Calendar #header #year .list-view .scroll-bar:vertical .increment-button ,
Calendar #header #year .list-view .scroll-bar:vertical .decrement-button {

    -fx-background-color: #15435e !important;

}

DrawerPanel JFXButton {
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
    -fx-background-color: transparent !important;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-padding: 10px;
    -fx-min-width: 150px;
}

DrawerPanel JFXButton:hover {
    -fx-text-fill: #1e5d84;
    -fx-background-color: #ffffff !important;
}